extends layout

block content
  h1.display-4.text-center Edit: 
  hr
  form(method='POST', action='/profile/edit/'+user.id)
    #form-group
      label Name:
      input.form-control(name='username' type='text' value=name)
    #form-group
      label E-mail:
      input.form-control(name='email' type='email' value=email)
    #form-group
      label About:
      textarea.form-control(name='about' type='text') #{about}
    #form-group
      label Password:
      input.form-control(name='password' type='password')
    br
    input.btn.btn-primary(type='submit', value='submit')
